style.
	body {
		margin: 0;
		padding: 0;
		background-color: green;
	}
	@media only screen and (min-width: 660px) {
		body {
			background-color: red !important;
		}
	}
	@media only screen and (max-width: 660px) {
		body {
			background-color: blue !important;
		}
	}
